{% extends "user/dashboard.html" %}

{% block content%}

<div class="room-container">
    <div class="room_img">

    </div>
    <div class="room_details">
        <div class="room_name">
            <h3> {{ room.hostel.name }} - {{ room.name }}</h3>
        </div>
        <div class="room_description">
            <p class="bedspace"><i class='bx bxs-bed'></i> {{room.bedspace}} Bedspaces  </p>
            {% if room.bathroom %}
                <p> <i class='bx bxs-bath'></i> Bathroom available</p>
            {% endif%}
            

            
        </div>
        <div class="occupants_header">
            
            <h3><i class='bx bxs-user'></i> Occupants </h3></div>
        <div class="room_occupants">
  
            {%for user in room.users %}
                <div class="card__container">
                    <div class="profile__img">
        
                    </div>
                    <div class="text__content">
                        <h1>{{ user.name }}</h1>
                        <h2>Traits</h2>
                        <p class="text__description">Smokes, Drinks, Studies in Room,
                            Neat, Quiet, Music, Has Visitors...
                        </p>
                        <div class="text__btn">
                            <h3> More...</h3>
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>
            {% if user.room.id == room.id %}
                <div class="room_btns two_room_btns">
                    <form action="{{ url_for('room_bp.room', roomId=room.id)}}" method="POST"> 
                        <button type="submit" class="btn inactive" disabled>Reserve Room</button>
                    </form>
                    <div class="btn inverse-btn" onclick="window.location='/rooms/{{room.id}}/cancelReservation';">Cancel Reservation</div>
            {% else %}
                <div class="room_btns one_room_btn">
                    {% if room.users|length >= room.bedspace %}
                    <form action="{{ url_for('room_bp.room', roomId=room.id)}}" method="POST"> 
                        <button type="submit" class="btn inactive" disabled>Reserve Room</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('room_bp.room', roomId=room.id)}}" method="POST"> 
                        <input type="submit" class="btn" value="Reserve Room">
                    </form>
                    {% endif %}
            {% endif %}


        </div>
 
    </div>





    </div>



{%endblock%}