<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Import fontawesome -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <title>Room.ly</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="{{url_for('main.signin')}}" method="POST" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <p id="signin-message"></p>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ signin_form.username(placeholder="Username") }}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{ signin_form.password(placeholder="Password" )}}
                    </div>
                        {{ signin_form.submit(class_="btn solid")  }}
                </form>

                <!-- Use Ajax Request -->
                <form action="/" id="signup" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <p id="signup-message"></p>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {{ signup_form.username(placeholder="Username") }}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        {{ signup_form.email(placeholder="Email") }}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{ signup_form.password(placeholder="Password") }}
                    </div>
                    {{ signup_form.submit(class_="btn solid") }}
                </form>
            </div>
    </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>Sign up to search for the perfect roomate!</p>
                        <button class="btn transparent" id="sign-up-btn">
                            Sign Up
                        </button>
                </div>
                <img src="{{ url_for('static', filename='img/main/house-search.svg') }}" class="image" alt="">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>Sign in to get started!</p>
                    <button class="btn transparent" id="sign-in-btn"> Sign in</button>
                </div>
              
                <img src="{{ url_for('static', filename='img/main/trait-room.svg') }}"" class="image" alt="" />
            </div>
        </div>
    </div>
    <script>

        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");
        const message = document.querySelector("#signup-message");

        sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
        });

        signup.onsubmit = async(e) => {
            e.preventDefault()
            
            let res = fetch('/signup', {
                method: 'POST',
                body: new FormData(signup)
            }).then(res =>{
                // Can do a change message change here
                window.location.replace('/');
            }
             
            );

        }

    </script>
</body>
</html>