{% extends "user/dashboard.html" %}
{% block content%}
<h3>Select Your Hostel</h3>

<div class="hostels-container">

    {%for hostel in hostels %}
    <a href="/hostels/{{hostel.id}}" class="hostel">
        <div class="hostel-img"></div>
        <div class="hostel-content">
            <div class="hostel-content-header">{{hostel.name}}</div>
            <div class="hostel-pricing-address">{{hostel.hosteltype}} - <strike>N</strike>{{hostel.price}}</div>
        </div>

    </a>
    {% endfor %}
</div>

{% endblock %}