<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="dashboard-container">
            <div class="dash-nav">
                <div class="header">
                    <h3>{{user.username}}, Your Dashboard</h3>
                </div>
            </div>
            <div class="dash-main">
                <!-- <div class="dash-top">
                    <div class="burger" id="burger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div> -->
                <div class="dash-sidebar" id="dash-sidebar">
                    <div class="room">
                        <a  href="/hostels" class="sidebar-button">
                            <i class="fas fa-cog"></i>    
                            Rooms
                        </a>
                    </div>
                    <div class="tools">
                        <a href="/user/dashboard" class="sidebar-button home">
                            <i class="fas fa-home"></i>    
                            Home
                        </a>
                        <a class="sidebar-button notification">
                            <i class="far fa-bell"></i>
                            Notifications
                        </a>
                        <a href="/user/profile" class="sidebar-button profile">
                            <i class="far fa-user"></i>
                            
                            Profile</a>
                        <a  href="/user/traits" class="sidebar-button settings">
                            <i class="fas fa-cog"></i>    
                            Settings
                        </a>

                    </div>
                    <div class="logout">
                        <a href="/logout" class="sidebar-button logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                </div>
  
                </div>
                <div class="dash-content">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
    </div>
    <script>
        // burger = document.querySelector('#burger')
        // sidebar = document.querySelector('#dash-sidebar')

        // burger.addEventListener("click", ()=>{
        //     sidebar.classList.add('mobile-style')
        // })
    </script>
</body>
</html>