{% extends "user/dashboard.html" %}
{% block content %}

<div class="profile-container">
    <div class="profile-top">
        <div class="profile-greeting">
            {% if user.name %}
            <h3>Hello {{user.name.split(' ')[0].title()}}, welcome back!</h3>
            {%else%}
            <h3>Hello {{user.username}}, welcome back!</h3>
            {% endif %}
        </div>
        <div class="profile-img">
            {% if user.photo_name %}
            <img src={{  url_for('static', filename='img/user_photos/' + user.photo_name ) }} alt="profile pic">
            {% else %}
            <img src={{  url_for('static', filename='img/user_photos/profile.jpg') }} alt="profile pic">
            {% endif %}
            <div class="profile-name">
                {% if user.name %}
                    <div class="profile-name">{{ user.name.title() }}</div>
                {% else %}
                    <div class="profile-name">{{ user.username.title() }}</div>            
                {% endif %}
                    <div class="profile-school">
                {% if user.school %}
                    <div class="profile-name">{{ user.school.title() }}</div>          
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <div class="profile-bottom">
        <div class="profile-left">
            <div class="profile-student-header">
                <h3>Student Information</h3>
                <button class="btn inverse-btn profile-edit-btn" onclick="window.location='/user/edit_profile';">Edit Profile</button>
            </div>
            <div class="profile-student-details">
                <div class="profile-students-details__left">
                    <p>Name</p>
                    <p>Username</p>
                    <p>Email</p>
                    <p>Phone Number</p>
                    <p>Residential Address</p>
                    <p>School</p>
                </div>
                <div class="profile-students-details__right">
                    {% if user.name %}
                        <p>{{user.name.title()}}</p>
                    {% else %}
                        <p>Not yet set</p>
                    {%endif%}
                        <p>{{user.username}}</p>
                        <p>{{user.email}}</p>
                    {% if user.number %}
                        <p>{{user.number}}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                    {% if user.address %}
                        <p>{{user.address}}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                    {% if user.school %}
                        <p>{{user.school}}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
            <div class="profile-about-me">
                <h3>About me</h3>
                {% if user.about %}
                <p style="color:#8998AB"> {{user.about}}.</p>
                {% else %}
                <p style="color:#8998AB">...</p>
                {% endif %}
        
            </div>
        </div>
        <div class="profile-right">
            <div class="profile-assgn">
                <div class="profile-assgn-title">
                    <p>Housing Assignment</p>
                </div>

                <div class="profile-page__hostel-room">
                    {%if user.room %}
                    <p>Room {{user.room.name}}</p>
                    <p>{{user.room.hostel.name}}</p>
                    {%endif%}
                </div>
            </div>
            <div class="profile-traits">
                <div class="profile-traits-header">
                    <p>Traits</p>
                </div>
                <div class="tags">
                        {% for trait in user.traits %}
                           <span class="tag"> {{trait}}</span>
                        {% endfor %}
                </div>
            </div>
            <div class="profile-traits">
                <div class="profile-traits-header">
                    <p>Looking for</p>
                </div>
                <div class="tags">
                        {% for trait in user.roomie_traits %}
                           <span class="tag"> {{trait}}</span>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}