{% extends "user/dashboard.html" %}
{% block content %}
  <div id="back_btn" onclick="window.location='/user/profile';">
      <i class='bx bxs-left-arrow-circle' ></i>
  </div>
<div class="traits_content">
  {% if user.name and user.gender %}
    {%if traits %}
      <h5>You have already selected your traits. Make changes?</h5>
      <button class="btn inverse-btn" onclick="window.location='/traitQuiz'";>Edit Traits</button>
    {% else %}
      <h5>Looking for roomates? Select traits.</h5>
      <button class="btn" onclick="window.location='/traitQuiz'";>Pick Traits</button>
    {% endif %}
  {% else %}
    <h5>You have not yet updated your profile. Update profile before picking traits.</h5>
    <button class="btn" onclick="window.location='/user/editProfile';">Edit Profile</button>
  {% endif %}
</div>
</script>
{% endblock%}